@media only screen and (max-width: 600px) {
}

@font-face {
  font-family: 'Aileron Regular';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron Regular), url('fontes/Aileron-Regular.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-Italic), url('fontes/Aileron-Italic.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Thin';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-Thin), url('fontes/Aileron-Thin.otf') format('woff');
}

@font-face {
  font-family: 'Aileron UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-UltraLight),
    url('fontes/Aileron-UltraLight.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-ThinItalic),
    url('fontes/Aileron-ThinItalic.otf') format('woff');
}

@font-face {
  font-family: 'Aileron UltraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-UltraLightItalic),
    url('fontes/Aileron-UltraLightItalic.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Light';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-Light), url('fontes//Aileron-Light.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-LightItalic),
    url('fontes/Aileron-LightItalic.otf') format('woff');
}

@font-face {
  font-family: 'Aileron SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-SemiBold),
    url('fontes/Aileron-SemiBold.otf') format('woff');
}

@font-face {
  font-family: 'Aileron SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-SemiBoldItalic),
    url('fontes/Aileron-SemiBoldItalic.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Bold';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-Bold), url('fontes/Aileron-Bold.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-BoldItalic),
    url('fontes/Aileron-BoldItalic.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Black';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-Black), url('fontes/Aileron-Black.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Heavy';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-Heavy), url('fontes/Aileron-Heavy.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-BlackItalic),
    url('fontes/Aileron-BlackItalic.otf') format('woff');
}

@font-face {
  font-family: 'Aileron Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local(Aileron-HeavyItalic),
    url('fontes/Aileron-HeavyItalic.otf') format('woff');
}

/*mostrar o troubleshooting*/

* {
  /*font: 12px sans-serif;*/
  font-family: 'Aileron Regular';
}

body {
  margin: 0px;
}

.menu {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
  color: white;
  margin: 20px;
  font: normal 20px 'Aileron Bold', sans-serif;
}
header {
  background-color: #98ca3f;
  height: 90px;
  width: 100%;
}
header > img {
  height: 50px;
  margin: 20px;
  margin-left: 40px;
  float: left;
  margin-top: center;
}
.botao_escuro {
  /*  width: 209.9px;
    height: 57.1px;*/
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #182c3f;
  color: white;
  margin: 20px;
  font: normal 20px 'Aileron Bold', sans-serif;
  text-align: center;
}
section.pizzas > figure {
  width: 330px;
  height: 450px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  padding: 10px;
}
section.pizzas > figure > img {
  height: 250px;
  width: 330px;
  margin-left: 30px;
  align-content: center;
}
h2 {
  text-align: center;
}

footer {
  font-family: 'Aileron BoldItalic';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #54565a;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #eff2f3;
}

.icones {
  margin-top: 1rem;
  height: 10px;
}

.icones-rodape {
  width: 24px;
}

pizzas {
  width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
  background-color: #c8c7c7;
  padding: 10px;
}

/* TESTANDO O SLIDER*/
.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: 54px;
  width: 47px;
  height: 75px;
  background-image: url('http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png');
  background-size: 95px;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 41%;
  left: 15px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-image: url('http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png');
  background-size: 95px;
  background-position-x: right;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}
.slider img {
  height: 324px;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff
    url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif')
    center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot');
  src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix')
      format('embedded-opentype'),
    url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff')
      format('woff'),
    url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf')
      format('truetype'),
    url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick')
      format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '';
}
[dir='rtl'] .slick-prev:before {
  content: '';
  font-weight: bold;
  font-size: 20px;
}

.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '';
}
[dir='rtl'] .slick-next:before {
  content: '';
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* quais problemas ainda existem - responsividade - cenas do proximo capitulo */
